[submodule "Lilith/vendor/spdlog"]
	path = Lilith/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lilith/vendor/glm"]
	path = Lilith/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Lilith/vendor/GLFW"]
	path = Lilith/vendor/GLFW
	url = https://github.com/Murgn/glfw
[submodule "Lilith/vendor/ImGui"]
	path = Lilith/vendor/ImGui
	url = https://github.com/Murgn/imgui
