[submodule "Lilith/vendor/spdlog"]
	path = Lilith/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lilith/vendor/GLFW"]
	path = Lilith/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Lilith/vendor/imgui"]
	path = Lilith/vendor/imgui
	url = https://github.com/TheCherno/imgui
